{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badal Aryal | Software Engineer</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YKJPH16CLP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-YKJPH16CLP');
    </script>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">Badal.</div>
            <ul class="nav-links">
                <li><a href="{% url 'home' %}#home">Home</a></li>
                <li><a href="{% url 'home' %}#about">About</a></li>
                <li><a href="{% url 'home' %}#skills">Skills</a></li>
                <li><a href="{% url 'home' %}#portfolio">Portfolio</a></li>
                <li><a href="{% url 'home' %}#blog">Blog</a></li>
                <li><a href="{% url 'home' %}#contact">Contact</a></li>
                <li><a href="{% url 'home' %}#contact">Contact</a></li>
                <li><a href="#newsletter" class="btn btn-small" style="margin-left: 10px;">Subscribe</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="footer-content">
            <div class="subscription-section" id="newsletter">
                <h3>Subscribe to my Newsletter</h3>
                <form id="subscription-form" method="POST" action="{% url 'subscribe' %}">
                    {% csrf_token %}
                    <input type="email" name="email" placeholder="Enter your email" required>
                    <button type="submit" class="btn btn-small">Subscribe</button>
                </form>
                <div id="subscription-message">
                    {% if messages %}
                    {% for message in messages %}
                    {% if 'subscription' in message.tags %}
                    <p style="color: {% if 'success' in message.tags %}green{% else %}red{% endif %};">{{ message }}</p>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <p>&copy; {% now "Y" %} Badal Aryal. All rights reserved.</p>
        <div class="social-links">
            <a href="https://github.com/badalaryal11" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/badalaryal/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://medium.com/@badalaryal" target="_blank"><i class="fab fa-medium"></i></a>
        </div>
    </footer>

    <script src="{% static 'js/main.js' %}?v=1"></script>
</body>

</html>